<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Requestforqoute</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.mySlides {display:none}
</style>
<body>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <img src="PYClogo1.png" alt="Plan Your Cargo" href="#home" />
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/Service" class="w3-bar-item w3-button"><i class="fa fa-th"></i>Services</a>
      <a href="/Gallery" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Gallery </a>
      <a href="/Feedback" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Feedback</a>
      <a href="/News" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>News And Event</a>
      <a href="/ContactUs" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Contact Us</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

</div>
</div>

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px">

<!-- Image in Display Container -->
<div class="w3-display-container w3-content" style="max-width:1500px;">
<img class="w3-image" src="background.jpg" alt="Architecture" width="1000%">
<div class="w3-display-middle w3-margin-top w3-center">
<h1 class="w3-xxlarge w3-text-white w3-wide">
<!--<span class="w3-padding w3-black w3-opacity-min"><b>Jadhav</b></span>Wasti-->

 <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Request A Qoute Today.......</button>
</h1>
</div>
</div>

<!-- Page End -->
<div class="w3-container">
  <h2>Request A Qoute Today.......</h2>

 

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <img src="PYClogo.png" alt="Qoute" style="width:30%" class="w3-radica w3-margin-top">
      </div>
     
      <form class="w3-container" action="/action_page.php">
        <label><b>Full Name</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Full Name" name="usrname" required>
          <label><b>Email</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Email" name="psw" required>
            <label><b>Phone</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Phone Number" name="usrname" required>
            <label><b>Company</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Company" name="usrname" required>
            <label><b>Origin</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Origin" name="usrname" required>
          
          <label><b>Destination</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Destination" name="usrname" required>
          <label><b>Estimated Delivery Date</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Estimated Delivery Dat" name="usrname" required>
          <label><b>Length</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Length" name="usrname" required>
          <label><b>Width</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Width" name="usrname" required>
          
          <label><b>Weight</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Weight" name="usrname" required>
          <label><b>Height</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Height" name="usrname" required>
          
          
         
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> I am a Freight Broker
           <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
        </div>
      </form>
      
        <button 
       
      </div>

    </div>
  </div>
</div>



















<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.planmedicaltourism.com" title="PLANMEDICALTOURISM" target="_blank" class="w3-hover-text-green">PLANMEDICALTOURISM</a></p>
</footer>
</body>
</html>
